<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>282372113564-mtl58ef4kbs9tqtmpfbuc0fc13usajkt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282372113564-mtl58ef4kbs9tqtmpfbuc0fc13usajkt</string>
	<key>API_KEY</key>
	<string>AIzaSyCFLg-9R-a7R6EA4IJA5gzd1E7uAy2H334</string>
	<key>GCM_SENDER_ID</key>
	<string>282372113564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.telliott.rwchitchat</string>
	<key>PROJECT_ID</key>
	<string>rtchat-7bfd1</string>
	<key>STORAGE_BUCKET</key>
	<string>rtchat-7bfd1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282372113564:ios:4e1e1dece3a6738c</string>
	<key>DATABASE_URL</key>
	<string>https://rtchat-7bfd1.firebaseio.com</string>
</dict>
</plist>